.example-card {
  max-width: 400px;
}
  
.example-header-image {
  background-image: url('http://icons-for-free.com/free-icons/png/512/2714749.png');
  background-size: cover;
}

.card-img-top {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.card:not(:first-child) {
    margin-left: 5px;
}

.card-img-top {
  height: 15vw;
  width: 25vw;
}

@media only screen and (max-width: 800px) {
  .card-img-top {
    width: 100%;
  }
}