<footer class="section footer-classic context-dark bg-image bg-dark" style="background: #2d3246;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pr-xl-12">
            <p>Carly is an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Carly</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
      </div>
    </div>
  </footer>