/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
md-icon {
    font-family: 'Material Icons' !important;
}

html, body {
    margin: 0;
    height: 100%;
}

ul, ol {
    list-style-type: none;
    list-style: none;
}

mat-dialog-container {
    border-radius: 2em !important;
}

.label-primary {
    float: left;
}

.text-center {
    text-align: center !important;
}

.display-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

[appHighlight] {
    box-shadow: 0 0 1px 1px #888888;
    transition-timing-function: linear;
    transition: 0.2s;
}

