.login-form {
    box-shadow: 10px 20px 30px darkgray;
    margin-top: 15%;
    width: 50%; 
    transition: width 0.5s;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .login-form {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .login-form {
        width: 80%;
    }
}

/* Logo animations */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%) skew(20deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) skew(0);
        opacity: 1;
        box-shadow: 0px 0px 0px 0px lightgrey;
    }
}

@keyframes slideInFromLeftBounceBack {
    0% {
        transform: translateX(-100%) skew(20deg) rotateY(-50deg);
        opacity: 0;
    }

    70% {
        transform: translateX(10%) skew(-10deg) rotateY(-40deg);
        opacity: 1;
    }

    100% {
        transform: translateX(0) skew(0) rotateY(0);
        opacity: 1;
        box-shadow: 0px 0px 0px 0px lightgrey;
    }
}

@keyframes slideOutFromRight {
    0% {
        transform: translateX(0) skew(0);
    }
    100% {
        transform: translateX(100%) skew(-20deg);
        box-shadow: -38px 10px 50px 0px lightgrey;
        opacity: 0;
    }
}

.logo-img {
    margin: auto;
    width: 50%;
    animation: 0.5s ease-out 0s 1 slideInFromLeft, 2s ease-in-out 3s 1 slideOutFromRight forwards, 1s ease-in 6s 1 slideInFromLeftBounceBack forwards;
}

