
<form [@simpleFadeAnimation]="'in'" class="container login-form" onsubmit="return false;">
  <img class="logo-img img-responsive" src="../../../../assets/new-carly-01.png" alt="Carly Logo">
  <div class="form-group">
    <label class="label-primary" for="email">email</label>
    <input [(ngModel)]="email" required class="form-control form-control-lg" type="email" name="email" id="email">
  </div>
  <div class="form-group">
    <label class="label-primary" for="password">password</label>
    <input [(ngModel)]="password" required class="form-control form-control-lg" type="password" name="password" id="password">
  </div>
  <div class="btn-group btn-group-lg flex-column w-100">
      <button (click)="doLogin()" class="btn btn-dark" routerLink="login">Login</button>
      <button (click)="doRegister()" class="btn btn-light ui-button-text-icon-primary" routerLink="register">Register</button>
  </div>
</form>